{% extends 'base.html' %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'home/css/services.css' %}" />
{% endblock %}
{% block content %}
  <section class="services">
    <div class="content">
      <h1>Nossos Serviços</h1>
      <hr />
      <p>Explore as ferramentas avançadas que o MACES oferece para a análise molecular de compostos orgânicos.</p>

      <div class="service-list">
        <div class="service-item">
          <i class="fas fa-flask"></i> <!-- Ícone adicionado -->
          <h2>Determinação de Fórmula Molecular</h2>
          <p>Utilize o MACES para realizar análises precisas e rápidas de estruturas moleculares a partir de espectros de massas.</p>
          <a href="{% url 'contact' %}" class="service-link">
            Saiba Mais <i class="fas fa-arrow-right"></i>
          </a>
        </div>
        <!--<div class="service-item">
          <i class="fas fa-microscope"></i>
          <h2>Consultoria em Espectrometria de Massas</h2>
          <p>Receba orientação especializada na interpretação de espectros de massas e na aplicação das melhores práticas analíticas em seus projetos.</p>
          <a href="{% url 'contact' %}" class="service-link">
            Saiba Mais <i class="fas fa-arrow-right"></i>
          </a>
        </div>-->
      </div>
    </div>
  </section>
{% endblock %}

